<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Language</th>
      <th scope="col">Latest Tag</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of repos">
      <td><a href="{{ i.url }}">{{ i.name }}</a></td>
      <td>{{ i.primaryLanguage }}</td>
      <td>{{ i.latestTag }}</td>
      <td><a *ngIf="!isFavourited(i)" style="cursor: pointer" (click)="onAddToFavourites(i)">Add</a></td>
    </tr>
  </tbody>
</table>
